/**
 * Site header
 */
.site-header {
  background: #161616;
  /* outline: 1px solid #E6E6E6; */
  height: 56px;
  overflow: hidden;
  color: #FFF;

  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-query($on-palm) {
    overflow: visible;
  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  margin-bottom: 0;
  float: left;
  display: block;
  font-weight: 600;

  &,
  &:visited {
    color: #FFF;

    span {
      color: $grey-color;
    }
  }

  &:hover,
  &:focus {
    color: $green;
    text-decoration: none;
  }
}

.site-logo {
  height: 56px;
  background: $brand-purple;
  margin-right: 10px;
  vertical-align: top;
}

.site-nav {
    float: right;

    .menu-icon {
      display: none;
    }

    .page-link {
      line-height: 56px;
      color: #FFF;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;

      // Gaps between nav items, but not on the first one
      &:not(:first-child) {
          margin-left: 20px;
      }

      &:hover,
      &:focus {
        color: $green;
        text-decoration: none;
      }
    }

    .site-search {
      width: 200px;
      float: right;
      padding-top: 16px;
      padding-left: 1.5em;

      .gsc-control-cse {
        background: transparent;
        border: 0;
        padding: 0
      }

      .gsc-input-box {
        background: #FFF;
        border-radius: 2px;
        border: 0;
        padding: 0;
      }

      .gsib_a {
        padding: 4px 5px 6px 5px;
      }


      .gsc-search-button {
        display: none;
      }

      .gsc-input {
        font-family: \\\\$base-font-family;
        -webkit-font-smoothing: antialiased;
        padding-right: 0 !important;
      }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $grey-color-dark;
        border: 1px solid #333;
        border-radius: 3px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #FFF;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
          display: block;
          padding: 5px 10px;
          line-height: $base-line-height;
        }

        .site-search {
          width: 200px;
          float: none;
          padding: 12px 10px 2px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: #FFF;

    a,
    a:visited {
      color: $grey-color;
      font-weight: 600;

      &:hover,
      &:focus {
        color: $green;
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    strong {
      color: $green;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    /* text-align: center; */
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    /* text-align: right; */
}

.footer-license {
  text-align: center;
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  background: #F7F7F7;

  /* .post {
    max-width: 600px;
    margin: 0 auto;
  } */

  .wrapper > div {
    padding: $spacing-unit*2;
    background: #FFF;
    outline: 1px solid #ededed;

    &.listing-page {
      padding: 0;
    }
  }
}

.page-heading {
  font-size: .9em;
  font-weight: 600;
  line-height: 1;
  color: $grey-color;
  letter-spacing: .3px;
  text-transform: uppercase;
  margin: 0;
  padding: $spacing-unit/1.5 $spacing-unit;
}

.post-meta {
  font-size: 0.9em;
  color: $grey-color;
  line-height: 25px;
  vertical-align: middle;
  margin-top: .75em;
  display: block;
}

.post-meta-author {
  font-weight: bold;
  color: $green;

  img {
    border-radius: 24px;
    vertical-align: middle;
    margin-right: 0.2em;
    position: relative;
    top: -1px;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  h2 {
    font-size: 1.6em;
    margin: 0;
    line-height: 1.25;
    font-weight: 600;
  }

  > li {
    padding: $spacing-unit;
    border-top: 1px solid $grey-color-light;

    a,
    a:visited {
      color: $text-color;
    }

    .post-meta {
      a,
      a:visited {
        color: $brand-purple;
      }
    }

    &:hover {
      background: $brand-purple;
      color: #FFF;

      .post-meta,
      .post-meta-author {
        color: #FFF;
      }

      a,
      a:visited {
        color: #FFF;
      }
    }
  }
}

.post-link {
  display: block;
}


/**
 * Tags
 */
.tag-page {}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit * 2;
}

.post-title {
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1.25;
    margin: 0;
    font-weight: 600;

    @include media-query($on-laptop) {
      font-size: 2.5em;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.share-cta {
  line-height: 32px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;

  span {
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
    display: inline-block;

    &.text {
      margin-left: 0.25em;
    }
  }

  a:hover,
  a:focus {
    color: $green;

    svg path {
      fill: $green !important;
    }
  }
}


.post-author {
  @extend %clearfix;
  margin: $spacing-unit*2 0;
  padding: $spacing-unit;
  border: 1px solid $grey-color-light;
  border-radius: 3px;

  .author-img {
    float: left;
    margin-right: $spacing-unit;

    img {
      border-radius: 5px;
    }
  }

  .author-info {
    margin-left: 100px;
    padding-left: $spacing-unit;

    h2 {
      font-weight: 600;
      color: $green;
      margin: 0;
      line-height: 1.2;
    }

    p {
      margin: 0.75em 0 0;
    }

    .social {
      a,
      a:visited {
        color: $grey-color;
        font-weight: 600;
        margin-right: 1em;

        &:hover,
        &:focus {
          color: $green;
        }
      }
    }
  }
}

#disqus_thread {
  margin-top: $spacing-unit * 2;
}
